.title{
  font-size: 70px;
  font-weight: 800;
  text-align: center !important;
  margin-top: 50px;
  margin-bottom: 20px;
  padding:40px 20px;
  position: relative;
    z-index: 1;

}
.title::after{
  content: "";
    display: flex;
    justify-content: center;
    align-items: center;
  background: url("/images/Textline.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 40px;
  top: 70%;
  left: 3px;
  transform: scale(0.8);
  z-index: 0;
  transition: 0.3s;
}
.title:hover::after{
  transform: scale(0.85) rotate(3deg);
}

section{
  margin-bottom: 50px;
}