.title{
  color: var(--color-primary);
  font-size: 70px;
  font-weight: 800;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  padding:40px 20px;
  position: relative;
}
.title::after{
  content: "";
    display: flex;
    justify-content: center;
    align-items: center;
  background: url("/images/Textline.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 30%;
  left: 3px;
  transform: scale(0.8);
  z-index: -1;
}

section{
  margin-bottom: 50px;
}