@import "tailwindcss";

@theme {
  --color-primary: #1C54B3;
  --color-yellow: #EF8A1B;
  --color-yellow-v2: #EFB61B;
  --color-black-v2: #3F3F3F;
  --color-white-v2: #F5F5F5;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Rubik", sans-serif;
    direction: rtl;
    overflow-x: hidden;
}

body.ltr-text nav ul {
    direction: ltr;
}

body.ltr-text .hero .text {
    text-align: center;
}

body.ltr-text .hero .buttons {
    flex-direction: row-reverse;
}

body.ltr-text .about {
    direction: ltr;
}

body.ltr-text .faq-section {
    direction: ltr;
}

body.ltr-text .faq-section h2,
body.ltr-text .faq-section p,
body.ltr-text .faq-section span {
    text-align: left;
}

body.ltr-text footer nav ul {
    direction: ltr;
}

body.ltr-text .about-founder {
    direction: ltr;
}

body.ltr-text .tv {
    direction: ltr;
}